body {
    background: #fff;
  }
  
  .particle {
    position: absolute;
    border-radius: 50%;
  }
  
  @-webkit-keyframes particle-animation-1 {
    100% {
      transform: translate3d(25vw, 66vh, 36px);
    }
  }
  
  @keyframes particle-animation-1 {
    100% {
      transform: translate3d(25vw, 66vh, 36px);
    }
  }
  .particle:nth-child(1) {
    -webkit-animation: particle-animation-1 60s infinite;
            animation: particle-animation-1 60s infinite;
    opacity: 0.22;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
    transform: translate3d(44vw, 1vh, 23px);
    background: #d926a9;
  }
  
  @-webkit-keyframes particle-animation-2 {
    100% {
      transform: translate3d(3vw, 2vh, 39px);
    }
  }
  
  @keyframes particle-animation-2 {
    100% {
      transform: translate3d(3vw, 2vh, 39px);
    }
  }
  .particle:nth-child(2) {
    -webkit-animation: particle-animation-2 60s infinite;
            animation: particle-animation-2 60s infinite;
    opacity: 0.66;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
    transform: translate3d(46vw, 87vh, 82px);
    background: #d94726;
  }
  
  @-webkit-keyframes particle-animation-3 {
    100% {
      transform: translate3d(28vw, 30vh, 26px);
    }
  }
  
  @keyframes particle-animation-3 {
    100% {
      transform: translate3d(28vw, 30vh, 26px);
    }
  }
  .particle:nth-child(3) {
    -webkit-animation: particle-animation-3 60s infinite;
            animation: particle-animation-3 60s infinite;
    opacity: 0.39;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
    transform: translate3d(14vw, 7vh, 12px);
    background: #7426d9;
  }
  
  @-webkit-keyframes particle-animation-4 {
    100% {
      transform: translate3d(22vw, 28vh, 1px);
    }
  }
  
  @keyframes particle-animation-4 {
    100% {
      transform: translate3d(22vw, 28vh, 1px);
    }
  }
  .particle:nth-child(4) {
    -webkit-animation: particle-animation-4 60s infinite;
            animation: particle-animation-4 60s infinite;
    opacity: 0.54;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
    transform: translate3d(69vw, 37vh, 44px);
    background: #26d9d6;
  }
  
  @-webkit-keyframes particle-animation-5 {
    100% {
      transform: translate3d(6vw, 20vh, 10px);
    }
  }
  
  @keyframes particle-animation-5 {
    100% {
      transform: translate3d(6vw, 20vh, 10px);
    }
  }
  .particle:nth-child(5) {
    -webkit-animation: particle-animation-5 60s infinite;
            animation: particle-animation-5 60s infinite;
    opacity: 0.18;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
    transform: translate3d(3vw, 31vh, 73px);
    background: #26d94d;
  }
  
  @-webkit-keyframes particle-animation-6 {
    100% {
      transform: translate3d(10vw, 83vh, 49px);
    }
  }
  
  @keyframes particle-animation-6 {
    100% {
      transform: translate3d(10vw, 83vh, 49px);
    }
  }
  .particle:nth-child(6) {
    -webkit-animation: particle-animation-6 60s infinite;
            animation: particle-animation-6 60s infinite;
    opacity: 0.05;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -1.2s;
            animation-delay: -1.2s;
    transform: translate3d(70vw, 66vh, 87px);
    background: #2688d9;
  }
  
  @-webkit-keyframes particle-animation-7 {
    100% {
      transform: translate3d(51vw, 34vh, 60px);
    }
  }
  
  @keyframes particle-animation-7 {
    100% {
      transform: translate3d(51vw, 34vh, 60px);
    }
  }
  .particle:nth-child(7) {
    -webkit-animation: particle-animation-7 60s infinite;
            animation: particle-animation-7 60s infinite;
    opacity: 0.81;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -1.4s;
            animation-delay: -1.4s;
    transform: translate3d(24vw, 85vh, 14px);
    background: #267ad9;
  }
  
  @-webkit-keyframes particle-animation-8 {
    100% {
      transform: translate3d(71vw, 18vh, 58px);
    }
  }
  
  @keyframes particle-animation-8 {
    100% {
      transform: translate3d(71vw, 18vh, 58px);
    }
  }
  .particle:nth-child(8) {
    -webkit-animation: particle-animation-8 60s infinite;
            animation: particle-animation-8 60s infinite;
    opacity: 0.48;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -1.6s;
            animation-delay: -1.6s;
    transform: translate3d(51vw, 81vh, 24px);
    background: #d9b826;
  }
  
  @-webkit-keyframes particle-animation-9 {
    100% {
      transform: translate3d(66vw, 61vh, 25px);
    }
  }
  
  @keyframes particle-animation-9 {
    100% {
      transform: translate3d(66vw, 61vh, 25px);
    }
  }
  .particle:nth-child(9) {
    -webkit-animation: particle-animation-9 60s infinite;
            animation: particle-animation-9 60s infinite;
    opacity: 0.59;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -1.8s;
            animation-delay: -1.8s;
    transform: translate3d(35vw, 86vh, 84px);
    background: #26d950;
  }
  
  @-webkit-keyframes particle-animation-10 {
    100% {
      transform: translate3d(42vw, 74vh, 4px);
    }
  }
  
  @keyframes particle-animation-10 {
    100% {
      transform: translate3d(42vw, 74vh, 4px);
    }
  }
  .particle:nth-child(10) {
    -webkit-animation: particle-animation-10 60s infinite;
            animation: particle-animation-10 60s infinite;
    opacity: 0.31;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    transform: translate3d(30vw, 33vh, 7px);
    background: #26c1d9;
  }
  
  @-webkit-keyframes particle-animation-11 {
    100% {
      transform: translate3d(6vw, 59vh, 62px);
    }
  }
  
  @keyframes particle-animation-11 {
    100% {
      transform: translate3d(6vw, 59vh, 62px);
    }
  }
  .particle:nth-child(11) {
    -webkit-animation: particle-animation-11 60s infinite;
            animation: particle-animation-11 60s infinite;
    opacity: 0.02;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -2.2s;
            animation-delay: -2.2s;
    transform: translate3d(46vw, 77vh, 67px);
    background: #6e26d9;
  }
  
  @-webkit-keyframes particle-animation-12 {
    100% {
      transform: translate3d(16vw, 73vh, 43px);
    }
  }
  
  @keyframes particle-animation-12 {
    100% {
      transform: translate3d(16vw, 73vh, 43px);
    }
  }
  .particle:nth-child(12) {
    -webkit-animation: particle-animation-12 60s infinite;
            animation: particle-animation-12 60s infinite;
    opacity: 0.35;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -2.4s;
            animation-delay: -2.4s;
    transform: translate3d(2vw, 27vh, 15px);
    background: #26d947;
  }
  
  @-webkit-keyframes particle-animation-13 {
    100% {
      transform: translate3d(4vw, 8vh, 80px);
    }
  }
  
  @keyframes particle-animation-13 {
    100% {
      transform: translate3d(4vw, 8vh, 80px);
    }
  }
  .particle:nth-child(13) {
    -webkit-animation: particle-animation-13 60s infinite;
            animation: particle-animation-13 60s infinite;
    opacity: 0.16;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -2.6s;
            animation-delay: -2.6s;
    transform: translate3d(67vw, 39vh, 79px);
    background: #d9b526;
  }
  
  @-webkit-keyframes particle-animation-14 {
    100% {
      transform: translate3d(86vw, 49vh, 91px);
    }
  }
  
  @keyframes particle-animation-14 {
    100% {
      transform: translate3d(86vw, 49vh, 91px);
    }
  }
  .particle:nth-child(14) {
    -webkit-animation: particle-animation-14 60s infinite;
            animation: particle-animation-14 60s infinite;
    opacity: 0.34;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -2.8s;
            animation-delay: -2.8s;
    transform: translate3d(86vw, 87vh, 2px);
    background: #26d935;
  }
  
  @-webkit-keyframes particle-animation-15 {
    100% {
      transform: translate3d(58vw, 49vh, 29px);
    }
  }
  
  @keyframes particle-animation-15 {
    100% {
      transform: translate3d(58vw, 49vh, 29px);
    }
  }
  .particle:nth-child(15) {
    -webkit-animation: particle-animation-15 60s infinite;
            animation: particle-animation-15 60s infinite;
    opacity: 0.24;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
    transform: translate3d(64vw, 33vh, 55px);
    background: #c7d926;
  }
  
  @-webkit-keyframes particle-animation-16 {
    100% {
      transform: translate3d(52vw, 35vh, 67px);
    }
  }
  
  @keyframes particle-animation-16 {
    100% {
      transform: translate3d(52vw, 35vh, 67px);
    }
  }
  .particle:nth-child(16) {
    -webkit-animation: particle-animation-16 60s infinite;
            animation: particle-animation-16 60s infinite;
    opacity: 0.54;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -3.2s;
            animation-delay: -3.2s;
    transform: translate3d(66vw, 48vh, 7px);
    background: #d9269d;
  }
  
  @-webkit-keyframes particle-animation-17 {
    100% {
      transform: translate3d(30vw, 79vh, 37px);
    }
  }
  
  @keyframes particle-animation-17 {
    100% {
      transform: translate3d(30vw, 79vh, 37px);
    }
  }
  .particle:nth-child(17) {
    -webkit-animation: particle-animation-17 60s infinite;
            animation: particle-animation-17 60s infinite;
    opacity: 0.31;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -3.4s;
            animation-delay: -3.4s;
    transform: translate3d(81vw, 84vh, 25px);
    background: #2665d9;
  }
  
  @-webkit-keyframes particle-animation-18 {
    100% {
      transform: translate3d(43vw, 59vh, 9px);
    }
  }
  
  @keyframes particle-animation-18 {
    100% {
      transform: translate3d(43vw, 59vh, 9px);
    }
  }
  .particle:nth-child(18) {
    -webkit-animation: particle-animation-18 60s infinite;
            animation: particle-animation-18 60s infinite;
    opacity: 0.88;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -3.6s;
            animation-delay: -3.6s;
    transform: translate3d(77vw, 63vh, 48px);
    background: #26a3d9;
  }
  
  @-webkit-keyframes particle-animation-19 {
    100% {
      transform: translate3d(12vw, 48vh, 80px);
    }
  }
  
  @keyframes particle-animation-19 {
    100% {
      transform: translate3d(12vw, 48vh, 80px);
    }
  }
  .particle:nth-child(19) {
    -webkit-animation: particle-animation-19 60s infinite;
            animation: particle-animation-19 60s infinite;
    opacity: 0.27;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -3.8s;
            animation-delay: -3.8s;
    transform: translate3d(20vw, 27vh, 39px);
    background: #85d926;
  }
  
  @-webkit-keyframes particle-animation-20 {
    100% {
      transform: translate3d(14vw, 61vh, 42px);
    }
  }
  
  @keyframes particle-animation-20 {
    100% {
      transform: translate3d(14vw, 61vh, 42px);
    }
  }
  .particle:nth-child(20) {
    -webkit-animation: particle-animation-20 60s infinite;
            animation: particle-animation-20 60s infinite;
    opacity: 0.95;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    transform: translate3d(9vw, 19vh, 75px);
    background: #26d997;
  }
  
  @-webkit-keyframes particle-animation-21 {
    100% {
      transform: translate3d(79vw, 82vh, 60px);
    }
  }
  
  @keyframes particle-animation-21 {
    100% {
      transform: translate3d(79vw, 82vh, 60px);
    }
  }
  .particle:nth-child(21) {
    -webkit-animation: particle-animation-21 60s infinite;
            animation: particle-animation-21 60s infinite;
    opacity: 1;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -4.2s;
            animation-delay: -4.2s;
    transform: translate3d(14vw, 8vh, 90px);
    background: #6e26d9;
  }
  
  @-webkit-keyframes particle-animation-22 {
    100% {
      transform: translate3d(18vw, 83vh, 75px);
    }
  }
  
  @keyframes particle-animation-22 {
    100% {
      transform: translate3d(18vw, 83vh, 75px);
    }
  }
  .particle:nth-child(22) {
    -webkit-animation: particle-animation-22 60s infinite;
            animation: particle-animation-22 60s infinite;
    opacity: 0.75;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -4.4s;
            animation-delay: -4.4s;
    transform: translate3d(11vw, 59vh, 52px);
    background: #269dd9;
  }
  
  @-webkit-keyframes particle-animation-23 {
    100% {
      transform: translate3d(3vw, 4vh, 52px);
    }
  }
  
  @keyframes particle-animation-23 {
    100% {
      transform: translate3d(3vw, 4vh, 52px);
    }
  }
  .particle:nth-child(23) {
    -webkit-animation: particle-animation-23 60s infinite;
            animation: particle-animation-23 60s infinite;
    opacity: 0.4;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -4.6s;
            animation-delay: -4.6s;
    transform: translate3d(27vw, 47vh, 82px);
    background: #d97426;
  }
  
  @-webkit-keyframes particle-animation-24 {
    100% {
      transform: translate3d(66vw, 58vh, 36px);
    }
  }
  
  @keyframes particle-animation-24 {
    100% {
      transform: translate3d(66vw, 58vh, 36px);
    }
  }
  .particle:nth-child(24) {
    -webkit-animation: particle-animation-24 60s infinite;
            animation: particle-animation-24 60s infinite;
    opacity: 0.77;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -4.8s;
            animation-delay: -4.8s;
    transform: translate3d(24vw, 39vh, 75px);
    background: #38d926;
  }
  
  @-webkit-keyframes particle-animation-25 {
    100% {
      transform: translate3d(46vw, 83vh, 19px);
    }
  }
  
  @keyframes particle-animation-25 {
    100% {
      transform: translate3d(46vw, 83vh, 19px);
    }
  }
  .particle:nth-child(25) {
    -webkit-animation: particle-animation-25 60s infinite;
            animation: particle-animation-25 60s infinite;
    opacity: 0.51;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5s;
            animation-delay: -5s;
    transform: translate3d(11vw, 79vh, 11px);
    background: #d98526;
  }
  
  @-webkit-keyframes particle-animation-26 {
    100% {
      transform: translate3d(16vw, 32vh, 32px);
    }
  }
  
  @keyframes particle-animation-26 {
    100% {
      transform: translate3d(16vw, 32vh, 32px);
    }
  }
  .particle:nth-child(26) {
    -webkit-animation: particle-animation-26 60s infinite;
            animation: particle-animation-26 60s infinite;
    opacity: 0.61;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -5.2s;
            animation-delay: -5.2s;
    transform: translate3d(77vw, 20vh, 82px);
    background: #d92c26;
  }
  
  @-webkit-keyframes particle-animation-27 {
    100% {
      transform: translate3d(29vw, 79vh, 72px);
    }
  }
  
  @keyframes particle-animation-27 {
    100% {
      transform: translate3d(29vw, 79vh, 72px);
    }
  }
  .particle:nth-child(27) {
    -webkit-animation: particle-animation-27 60s infinite;
            animation: particle-animation-27 60s infinite;
    opacity: 0.42;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -5.4s;
            animation-delay: -5.4s;
    transform: translate3d(68vw, 87vh, 9px);
    background: #c426d9;
  }
  
  @-webkit-keyframes particle-animation-28 {
    100% {
      transform: translate3d(17vw, 3vh, 30px);
    }
  }
  
  @keyframes particle-animation-28 {
    100% {
      transform: translate3d(17vw, 3vh, 30px);
    }
  }
  .particle:nth-child(28) {
    -webkit-animation: particle-animation-28 60s infinite;
            animation: particle-animation-28 60s infinite;
    opacity: 0.51;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -5.6s;
            animation-delay: -5.6s;
    transform: translate3d(81vw, 83vh, 15px);
    background: #d926d3;
  }
  
  @-webkit-keyframes particle-animation-29 {
    100% {
      transform: translate3d(22vw, 5vh, 40px);
    }
  }
  
  @keyframes particle-animation-29 {
    100% {
      transform: translate3d(22vw, 5vh, 40px);
    }
  }
  .particle:nth-child(29) {
    -webkit-animation: particle-animation-29 60s infinite;
            animation: particle-animation-29 60s infinite;
    opacity: 0.78;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5.8s;
            animation-delay: -5.8s;
    transform: translate3d(21vw, 48vh, 50px);
    background: #265fd9;
  }
  
  @-webkit-keyframes particle-animation-30 {
    100% {
      transform: translate3d(70vw, 89vh, 6px);
    }
  }
  
  @keyframes particle-animation-30 {
    100% {
      transform: translate3d(70vw, 89vh, 6px);
    }
  }
  .particle:nth-child(30) {
    -webkit-animation: particle-animation-30 60s infinite;
            animation: particle-animation-30 60s infinite;
    opacity: 0.99;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -6s;
            animation-delay: -6s;
    transform: translate3d(71vw, 78vh, 74px);
    background: #29d926;
  }

  #particle-container{
      position: absolute;
      right: 50px;
      width: 90%;
      height: 100%;
      z-index: -99;
  }